.Tih_h1{
    background-color: #90ee90;
    padding: 5px 10px;
}

.Tih_h2{
    margin-left: 4%;
}

.border-bottom_1E90FF{
    border-bottom: solid medium #1E90FF;
}

.item1_ma{
    text-align: center;
}

.item1{
    position: absolute;
    display: inline-block;
    background-color: rgb(120, 255, 60);
    height: 400px;
    width: 300px;
    margin-left: -20%;
}

.text_happy{
    margin-top: 0;
    padding-top: 15px;
    font-size: 150%;
    text-align: center;
    z-index: 10;
    height: 100%;
    width: 100%;    
}

.img_happy{
    position: relative;
    height:285.1px;
    width:289.4px;
    top: -335px;
    z-index: 20;
}

.Pointing{
    float: left;
    margin-top: 20%;
    margin-left: 10%;
}

.img_Pointing{
    position: absolute;
    height: 285.1px; 
    width:289.4px;
    z-index: 30;
}

.Pointing_Dialogue{
    position: relative;
    margin-left: 20px;
    margin-bottom: -60px;

}

.clear{
    clear: both;
}